.Header {
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.Header a {
  color: var(--text-light);
}

.Header .HeaderLogo {
  font-size: 2rem;
  margin-right: 50px;
  font-weight: 400;
}

.Header.Guest .HeaderLogo {
  margin: 0 auto;
}

.Header a {
  text-decoration: none;
}

.Header nav {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
}

.Header nav ul {
  display: flex;
  align-items: center;
}

.Header nav ul > li {
  list-style-type: none;
}

.Header nav ul > li:not(:last-child) {
  margin-right: 30px;
}

.Header nav ul > li a {
  display: block;
  padding: 10px 30px;
  font-size: 1.12rem;
  text-decoration: none;
}

.active {
  border-radius: 7px;
  background-color: var(--accent);
}

.HeaderInner {
  height: 100%;
  background-color: var(--darker);
}

.HeaderContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  height: 100%;
}

.HeaderUserBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderUserBlock a {
  padding: 15px;
}

.HeaderUserBlock svg {
  vertical-align: middle;
}

.Header .WatchlistIcon svg {
  font-size: 1.75rem;
  color: var(--text-light);
}

.Header .AccountIcon svg {
  font-size: 1.75rem;
  color: var(--text-light);
}
