
.Message {
  width: fit-content;
  padding: 40px 80px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--accent);
  border-radius: 5px;
}

.Message p {
  font-size: 1.4rem;
}