.Grid {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
}

.GridInner {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 300px);
  grid-auto-rows: min-content;
  grid-gap: 50px;
  /* flex-wrap: wrap; */
  /* margin: 0 -25px; */
}

.GridInner article {
  /* padding: 25px; */
  /* box-sizing: content-box; */
}