.HeroBlock {
  height: 300px;
  position: relative;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--darker);
}

.HeroBlockInner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroText {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 2.78rem;
  color: var(--text-light);
}

.DarkBackdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}