.Title {
  letter-spacing: 1px;
}

.Btn {
  display: inline-block;
  color: var(--darker);
  background-color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.Btn:hover {
  background-color: var(--accent);
}

.Btn .Icon {
  transition: color 0.3s;
}

.Btn:hover .Icon,
.Btn:hover p {
  color: var(--text-light);
}

.Btn.Round {
  border-radius: 50%;
}

.Btn.Quad {
  height: 60px;
  padding: 0 26px;
  border-radius: 10px;
}

.Btn .Title {
  transition: color 0.3s;
}

.Btn:hover .Title {
  color: var(--text-light);
}

.WatchBtn {
  height: 60px;
  border-radius: 10px;
}

.WatchBtn a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 26px;
  font-size: 1.12rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-decoration: none;
  color: var(--darker);
}

.WatchBtn .Icon {
  display: inline-block;
  margin-right: 5px;
}

.WatchlistBtn .Icon svg {
  font-size: 1.9rem;
}

.WatchlistBtn.Round .Icon svg {
  font-size: 1.5rem;
}

.WatchlistBtn.Quad,
.PlayBtn.Quad,
.RemoveBtn.Quad {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.PlayBtn.Quad {
  padding: 0 36px;
}

.PlayBtn.Round {
  overflow: hidden;
}

.PlayBtn.Round .Icon svg {
  font-size: 1.7rem;
}

.PlayBtn.Round a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--darker);
}

.PlayBtn.Quad .Icon svg {
  font-size: 1.9rem;
}

.RemoveBtn.Quad {
  padding: 0 16px;
}

.WatchlistBtn,
.WatchBtn {
  transition: background-color 0.3s, color 0.3s;
}

.WatchBtn.Round .Icon svg,
.RemoveBtn.Round .Icon svg {
  font-size: 1.3rem;
}

.RemoveBtn.Quad .Icon svg {
  font-size: 1.9rem;
}

.RemoveBtn:hover {
  background-color: var(--danger);
}

.BtnText {
  font-size: 1.11rem;
  line-height: 60px;
}