.QuadShape {
  height: 60px;
  padding: 0 26px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--text-light);
  transition: background-color 0.6s, color 0.3s;
}

.WatchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.12rem;
}

.WatchBtn .PlayIcon {
  display: inline-block;
  margin-right: 5px;
}

.Title {
  letter-spacing: 1px;
}

.WatchlistBtn .WatchlistIcon svg {
  font-size: 1.9rem;
}

.QuadShape:hover {
  color: var(--text-light);
  background-color: var(--accent);
}

.RoundShape {
  border-radius: 50%;
  background-color: var(--text-light);
  transition: background-color 0.4s;
}

.RoundShape .Icon {
  transition: color 0.5s;
}

.RoundShape:hover {
  background-color: var(--accent);
}

.RoundShape:hover .Icon {
  color: var(--text-light);
}

.PlayBtnRound .PlayIcon,
.WatchBtnRound .WatchlistIcon,
.RemoveBtnRound .RemoveIcon {
  display: inline-block;
  color: var(--accent);
}

.PlayBtnRound .PlayIcon svg {
  font-size: 1.7rem;
}

.WatchBtnRound .WatchlistIcon svg,
.RemoveBtnRound .RemoveIcon svg {
  font-size: 1.3rem;
}