.Title {
  letter-spacing: 1px;
}

.Btn {
  transition: background-color 0.4s, color 0.4s;
  background-color: var(--text-light);
}

.Btn:hover {
  background-color: var(--accent);
}

.Btn .Icon {
  transition: color 0.4s;
}

.Btn:hover .Icon {
  color: var(--text-light);
}

.Btn.Round {
  border-radius: 50%;
}

.Btn.Quad {
  height: 60px;
  padding: 0 26px;
  border-radius: 10px;
}

.Btn .Title {
  transition: color 0.4s;
}

.Btn:hover .Title {
  color: var(--text-light);
}

.WatchBtn.Quad {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 26px;
  border-radius: 10px;
  font-size: 1.12rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.WatchBtn.Quad .Icon {
  display: inline-block;
  margin-right: 5px;
}

.WatchlistBtn .Icon svg {
  font-size: 1.9rem;
}

.WatchlistBtn.Quad,
.PlayBtn.Quad,
.RemoveBtn.Quad {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.PlayBtn.Quad {
  padding: 0 36px;
}

.RemoveBtn.Quad {
  padding: 0 16px;
}

.WatchlistBtn,
.WatchBtn {
  transition: background-color 0.5s, color 0.5s;
}

.PlayBtn.Round .Icon svg {
  font-size: 1.7rem;
}

.WatchBtn.Round .Icon svg,
.RemoveBtn.Round .Icon svg {
  font-size: 1.3rem;
}

.PlayBtn.Quad .Icon svg {
  font-size: 1.9rem;
}

.RemoveBtn.Quad .Icon svg {
  font-size: 1.9rem;
}

.RemoveBtn:hover {
  background-color: var(--danger);
}