.SearchContainer {
  text-align: center;
  margin: 50px 0;
}

.SearchContainer input {
  width: 100%;
  max-width: 500px;
  height: 40px;
  padding: 7px 7px 7px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1rem;
}

