.FullsizeMovie {
  height: 800px;
  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.FullsizeMovieInner {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 100%;
  margin-left: 200px;
}

.Poster {
  position: relative;
}

.Poster img {
  border-radius: 5px;
}

.Rating {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  text-align: center;
  padding: 5px 13px;
  background-color: var(--accent);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.Rating > div {
  font-size: 1rem;
}

.MovieInfo {
  width: 100%;
  max-width: 600px;
  margin-left: 100px;
}

.MovieTitle {
  font-size: 4.45rem;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1;
  margin-bottom: 10px;
}

.MovieFactsWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.MovieFactsWrapper > div {
  font-size: 0.78rem;
  font-weight: 300;
}

.MovieFactsWrapper > div:not(:last-child) {
  margin-right: 50px;
}

.MoviePG {
  padding: 3px 5px;
  outline: 1px solid var(--text-light);
}

.MovieOverview {
  font-size: 1rem;
  margin-bottom: 40px;
}

.MovieButtons {
  display: flex;
}

.MovieWatchBtn {
  margin-right: 40px;
}

.DarkBackdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}