.Movie {
  max-width: 300px;
}

.Movie:hover .MovieControls {
  visibility: visible;
  opacity: 1;
}

.Movie:hover .DarkBackdrop {
  visibility: visible;
  opacity: 1;
}

.Movie:hover .MoviePoster img {
  transform: scale(1.05);
  transition: transform 5s ease-out;
}

.MovieInner {

}

.Poster {
  position: relative;
  margin-bottom: 7px;
}

.MoviePoster {
  position: relative;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
}

.MoviePoster img {
  transition: transform 1.5s;
}

.Rating {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  text-align: center;
  padding: 5px 13px;
  letter-spacing: 1px;
  background-color: var(--accent);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.Rating > div {
  font-size: 1rem;
}

.MovieTitle {
  max-width: 300px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.4;
  margin-bottom: 5px;
}

.MovieFactsWrapper {
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.MovieFactsWrapper > div {
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.DotDivider {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--accent-light);
  margin: 0 12px;
}

.MovieControls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1.3s;
}

.DarkBackdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.6s;
}