.Movie {
  max-width: 300px;
}

.MovieInner {

}

.Poster {
  position: relative;
  margin-bottom: 3px;
}

.Poster img {
  width: 100%;
  max-width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.MovieTitle {
  max-width: 300px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.4;
  margin-bottom: 5px;
}