:root {
  --bg-color: #2c3e50;
  --header-bg-color: #131418;
  --text-color-light: #ecf0f1;
}

html {
  font-size: 18px;
  box-sizing: border-box;
  color: var(--text-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
body,
nav {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

