.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Placeholder {
  width: 100%;
  height: 100%;
  background-color: var(--dark-middle);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Placeholder svg {
  font-size: 12rem;
  fill: var(--text-grey);
}