.Footer {
  height: 100px;
  background-color: var(--darker);
  padding: 0 100px;
}

.FooterInner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CopyRight {
  margin-right: 30px;
}

.FooterInner p {
  font-size: 1rem;
  font-weight: 300;
}
